.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px)
{
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
}

@media screen and (min-width: 768px)
{
.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}
}

.jumbotron {
  background-color: white;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; /* adjust as needed */
  margin: 0 auto;
}

.product-card {
  width: calc(25% - 20px); /* adjust margin as needed */
  margin-bottom: 40px;
}

.card {
  width: 250px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
}



.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
}

.image-container button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.image-container button:hover {
  background-color: #24a0ed;
}